.calendar__header {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d6d9e6;
    border-bottom: 1px solid #d6d9e6;
    padding: 10px 0;
    margin-bottom: 23px;
  
    @media (min-width: $tablet-width) {
      padding: 26px 0 21px 0;
      margin-bottom: 38px;
    }
  
    @media (min-width: $desktop-width) {
      margin-bottom: 18px;
    }
}

.calendar__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #1d2e5b;
    margin: 0;
  
    @media (min-width: $tablet-width) {
      font-size: 36px;
    }
}

.calendar__button {
    &--prev {
      @media (min-width: $tablet-width) {
        margin-left: 20px;
      }
  
      @media (min-width: $desktop-width) {
        margin-left: 0;
      }
    }
  
    &--next {
      @media (min-width: $tablet-width) {
        margin-right: 20px;
      }
  
      @media (min-width: $desktop-width) {
        margin-right: 0;
      }
    }
}

.calendar__icon {
    width: 9px;
    height: 18px;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
  
    @media (min-width: $tablet-width) {
      width: 19px;
      height: 34px;
    }
  
    @media (min-width: $desktop-width) {
      width: 16px;
      height: 28px;
    }
  
    &:hover {
      opacity: 0.5;
    }
  
    &:active {
      opacity: 0.1;
    }
}

.calendar__week {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__weekday {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #444444;
    text-align: center;
  
    &--red {
      color: #ff5c23;
    }
  
    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  
    @media (min-width: $desktop-width) {
      text-align: left;
      padding-left: 17px;
    }
}
  