.countries-promo {
    background-color: #edeff6;
    margin-top: -30px;
    padding-top: 101px;
    padding-bottom: 34px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    z-index: 5;
  
    @media (min-width: @tablet-width) {
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      margin-top: -60px;
      padding-top: 133px;
      padding-bottom: 80px;
      background-image: url("../img/bg-countries-promo-tablet.png");
      background-size: contain;
      background-position: center 140px;
      background-repeat: no-repeat;
  
      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-countries-promo-tablet@2x.png");
      }
    }
  
    @media (min-width: $desktop-width) {
      padding-top: 222px;
      padding-bottom: 140px;
      background-image: url("../img/bg-countries-promo-desktop.png");
      background-size: contain;
      background-position: center 148px;
  
      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-countries-promo-desktop@2x.png");
      }
    }
}