.footer {
    background-color: #ffffff;
    margin-top: auto;
    padding-top: 7px;
    padding-bottom: 20px;
    position: relative;
  
    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 32px;
    }
  
    @media (min-width: $desktop-width) {
      padding-top: 0;
      padding-bottom: 43px;
    }
}

.footer::before {
    content: "";
    width: 100%;
    height: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    top: -30px;
  
    @media (min-width: $tablet-width) {
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      height: 60px;
      top: -60px;
    }
}