.input-number {
    height: 43px;
    border: 1px solid #cbced9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    transition: border-color 0.2s ease-in-out;
  
    &:hover {
      border-color: #959bb2;
  
      .input-number__icon {
        stroke: #959bb2;
      }
    }
  
    @media (min-width: $tablet-width) {
      height: 70px;
    }
}

.input-number__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
  
    @media (min-width: @tablet-width) {
      padding: 0 23px;
    }
  
    @media (min-width: @desktop-width) {
      padding: 0 20px;
    }
  }