.promo-steps {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  
    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  
    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr repeat(2, 345px) 1fr;
      grid-template-rows: 1fr;
    }
}

.promo-steps__item {
    position: relative;
    padding: 20px 24px 24px 24px;
    box-sizing: border-box;
    border-radius: 10px;
  
    @media (min-width: $tablet-width) {
      padding: 30px 33px 22px 33px;
      border-radius: 20px;
    }
  
    @media (min-width: $desktop-width) {
      padding: 30px 34px;
    }
}

.promo-steps__item--first {
    background-color: $special-orange;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
  
    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  
    .promo-steps__text {
      max-width: 106px;
  
      @media (min-width: $tablet-width) {
        max-width: 141px;
      }
    }
  
    .promo-steps__number {
      @media (min-width: $desktop-width) {
        position: absolute;
        top: 30px;
        right: calc(75% + 48px);
      }
    }
}


  